
.image {border-width:2; padding: 10px 10px; border-radius: 12px; border: 2px solid #f55;  background-color: #010101; color: #93CCEA;}

.image:hover {border-width:2; padding: 10px 10px; border-radius: 12px; border: 2px solid #ff5;  background-color: #010101; color: #93CCEA;}
a:active, a:link, a:visited		{color: #ff5;}

select option {
 background-color: #010101; 
 color: #6495ED;
}

button {
 background-color: #000; 
 color: #6495ED;
}



.flex {
  display: flex;
  flex-wrap: nowrap;
  padding: 1px 26px;
}

.flex .box5 {
  width: 5%;
  margin: 2px;
  text-align: left;

}
.flex .box10 {
  width: 10%;
  margin: 2px;
  text-align: left;

}

.flex .box15 {
  width: 15%;
  margin: 10px;
  text-align: left;

}

.flex .box40 {
  width: 40%;
  margin: 20px;
  text-align: left;

}

.flex .box60 {
  width: 60%;
  margin: 10px;
  text-align: left;

}


.flex .box33 {
  width: 33%;
  margin: 10px;
  text-align: left;

}


.flex .box50 {
  width: 50%;
  margin: 2px;
  text-align: left;

}

.flex .box20 {
  width: 20%;
  margin: 2px;
  text-align: left;

}
        span0 {
            color: #ff0000;
        }
        span {
            color: #6495ED; 
        }
        span2 {
            color: #f55;
        }
        span3 {
            color: #93CCEA;
        }
        .link {
            stroke: #6495ED;
            stroke-width: 2px;
        }

        .node {            stroke: #000;
            stroke-width: 1px;
        }
        .textClass {
            stroke: #323232;
            fill: white;
            font-family: "Lucida Grande", "Droid Sans", Arial, Helvetica, sans-serif;
            font-weight: normal;
            stroke-width: .5;
            font-size: 14px;
        }
        body {
            background-color: #010101; color: #6495ED;
        }
        #svgdiv .svg {
          border: 2px solid #888
        }



.slider {
  -webkit-appearance: none;
  width: 60%;
  height: 2px;
  background: #f55;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .1s;
  transition: opacity .1s;
}

.slider:hover {
  opacity: 1;
  background: #ff5;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #f55;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #f55;
  cursor: pointer;
}

